# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env
.ENV

# Editor/IDE
# .idea/
# .vscode/


## TERRAFORM

# Terraform
# Local .terraform directory (contains binaries and plugins)
.terraform/
.terraform.lock.hcl
# State files (may contain sensitive data/secrets)
*.tfstate
*.tfstate.backup
*.tfstate*backup
*.tfstate.lock.info

# Variable files (often contain secrets; ignore by default)
*.tfvars
*.tfvars.json

# Local overrides
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI configuration and crash logs
.terraformrc
terraform.rc
crash.log

##
todo.txt

###
terraform_aws/kubeconfig/*
terraform_kind/kubeconfig/*